<div class="container-fluid">
  <div class="d-flex flex-column">
    <app-links class="slideDown"></app-links>

    <div class="row topRow">
      <div class="col-sm"></div>
      <app-link-tab class="col-sm col-xs"></app-link-tab>
      <div class="col-sm"></div>
    </div>

  </div>

<!--Large Screen version, vertical buttons-->
  <div class="d-none d-sm-block">
    <div class="row midRow">
      <app-resume-tab class="col-sm vertTextLeft" [ngClass]="sidesHidden ? 'clickTest' : 'failTest'"></app-resume-tab>
      <app-main-name class="col-sm"></app-main-name>
      <app-contact-tab class="col-sm vertTextRight rightLink" [ngClass]="sidesHidden ? 'clickTest' : 'failTest'"></app-contact-tab>
    </div>
  </div>
<!--  Small screen version, horizontal buttons-->
  <div class="d-block d-sm-none">
    <div class="col">
      <app-main-name class="col-sm"></app-main-name>
      <app-resume-tab class="col-sm horText"></app-resume-tab>
      <app-contact-tab class="col-sm horText"></app-contact-tab>
    </div>
  </div>

  <div class="row" [ngClass]="linksOpen ? 'd-none' : 'failTest'">
    <div class="col-sm"></div>
    <app-portfolio-tab class="col-sm col-xs"></app-portfolio-tab>
    <div class="col-sm"></div>
  </div>

<!--  <app-portfolio></app-portfolio>-->
</div>
