<div class="container-fluid">
  <div class="row">
    <div class="col-sm-3"></div>
    <div class="col-sm-6">
      <app-link-tab></app-link-tab>
    </div>
    <div class="col-sm-3"></div>
  </div>
  <div class="row">
    <div class="col-sm">
      <app-resume-tab></app-resume-tab>
    </div>
    <div class="col-sm">
      <app-main-name></app-main-name>
    </div>
    <div class="col-sm">
      <app-contact-tab class="float-right"></app-contact-tab>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-3"></div>
    <div class="col-sm-6">
      <app-portfolio-tab></app-portfolio-tab>
    </div>
    <div class="col-sm-3"></div>
  </div>
</div>
